#
# Build the module and run tests.
#
# Repeats tests on local and remote files by running an instance of the
# hdfstream server in a container.
#
name: Build and test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Start hdfstream service with ./tests/data mounted
      uses: ./.github/actions/start-hdfstream
      with:
        data-dir: ./tests/data
        virtual-prefix: tests/data
        image: ghcr.io/jchelly/hdfstream-api:0.0.5

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install flake8 pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        # flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

    - name: Install module
      run: |
        pip install -e .

    - name: Test with pytest
      run: |
        pytest --hdfstream-server=http://localhost:8080/hdfstream

    - name: Stop hdfstream service
      uses: ./.github/actions/stop-hdfstream
      if: always()
